
@keyframes navbarDown {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes titleUp {
	0% {
		opacity: 0;
		transform: translateY(120px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes leftToRight {
	0% {
		opacity: 0	;
		transform: translateX(-180px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
	
}

@keyframes rightToLeft {
	0% {
		opacity: 0;
		transform: translateX(180px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
