$--bg-gradient: linear-gradient(to right,#ca42f2 0%,#6a42f2 39%,#4294f2 75%,#42b5f2 100%,#7db9e8 100%);
$--bg-gray: #F5F7F9;
$--blue: #4294f2;
$--bg-primary:  #1A1E1E;
$--bg-navbar: #171B1B;
$--text-gray: #89979E;
$--bg-tag: #FBF9FF;
$--bg-line: #F9F9FF;
$--bg-btn-default: #F9F9FF;
$--bg-btn-primary-gray: #8d99ae;
$--bg-btn-success: #4CD3E3;
$--bg-btn-info: #38A4FF;
$--bg-btn-warning: #F4E700;
$--bg-btn-danger: #F44A40;
$--percent-blue: #6382E6;
$--percent-pink: #E66686;
$--percent-orange: #F09359;
$--percent-green: #73FBAF;
$--percent-purple: #A367E7;