* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  li {
    a {
      font-size: 1.2rem;
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.mx-center {
  margin: 0 auto;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

// buttons

.btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  background: #fff;
  cursor: pointer;
  &__primary {
    background: $--bg-gradient;
  }
  &__pill {
    border-radius: 4rem;
  }
  &__default {
    background: $--bg-btn-default;
    border: none;
    outline: none;
    color: #12129b;
  }
  &__primary__gray {
    background: $--bg-btn-primary-gray;
    border: 1px solid $--bg-btn-primary-gray;
    color: #fff;
    &:hover {
      background: #fff;
      border: 1px solid $--bg-btn-primary-gray;
      color: $--bg-btn-primary-gray;
    }
  }
  &__success {
    background: $--bg-btn-success;
    border: 1px solid $--bg-btn-success;
    color: #fff;
    &:hover {
      background: #fff;
      border: 1px solid $--bg-btn-success;
      color: $--bg-btn-success;
    }
  }
  &__info {
    background: $--bg-btn-info;
    border: 1px solid $--bg-btn-info;
    color: #fff;
    &:hover {
      background: #fff;
      border: 1px solid $--bg-btn-info;
      color: $--bg-btn-info;
    }
  }
  &__warning {
    background: $--bg-btn-warning;
    border: 1px solid $--bg-btn-warning;
    color: #fff;
    &:hover {
      background: #fff;
      border: 1px solid $--bg-btn-warning;
      color: $--bg-btn-warning;
    }
  }
  &__danger {
    background: $--bg-btn-danger;
    border: 1px solid $--bg-btn-danger;
    color: #fff;
    &:hover {
      background: #fff;
      border: 1px solid $--bg-btn-danger;
      color: $--bg-btn-danger;
    }
  }
  &__link {
    border: none;
  }
  &__disabled {
    background: $--bg-btn-default;
    color: #fff;
    border: none;
  }
  &__rectangle {
    &__extra {
      background: $--bg-btn-primary-gray;
      color: #fff;
      border: 1px solid $--bg-btn-primary-gray;
      padding: 1rem 2rem;
      &:hover {
        background: #fff;
        color: $--bg-btn-primary-gray;
      }
    }
    &__large {
      background: $--bg-btn-success;
      color: #fff;
      border: 1px solid $--bg-btn-success;
      padding: 0.8rem 1.8rem;
      &:hover {
        background: #fff;
        color: $--bg-btn-success;
      }
    }
    &__default {
      background: $--bg-btn-primary-gray;
      color: #fff;
      border: 1px solid $--bg-btn-primary-gray;
      padding: 0.6rem 1.6rem;
      &:hover {
        background: #fff;
        color: $--bg-btn-primary-gray;
      }
    }
    &__medium {
      background: $--bg-btn-success;
      color: #fff;
      border: 1px solid $--bg-btn-success;
      padding: 0.4rem 1.4rem;
      &:hover {
        background: #fff;
        color: $--bg-btn-success;
      }
    }
    &__small {
      background: $--bg-btn-primary-gray;
      color: #fff;
      padding: 0.2rem 1.2rem;
      border: 1px solid $--bg-btn-primary-gray;
      &:hover {
        background: #fff;
        color: $--bg-btn-primary-gray;
      }
    }
  }
}

.btn__reverse {
  &__default {
    border: 1px solid $--bg-btn-default;
    outline: none;
    color: #fff;
    &:hover {
      background: $--bg-btn-default;
      color: #12129b;
    }
  }
  &__primary__gray {
    border: 1px solid $--bg-btn-primary-gray;
    outline: none;
    color: $--bg-btn-primary-gray;
    &:hover {
      background: $--bg-btn-primary-gray;
      color: #fff;
    }
  }
  &__success {
    border: 1px solid $--bg-btn-success;
    outline: none;
    color: $--bg-btn-success;
    &:hover {
      background: $--bg-btn-success;
      color: #fff;
    }
  }
  &__info {
    border: 1px solid $--bg-btn-info;
    outline: none;
    color: $--bg-btn-info;
    &:hover {
      background: $--bg-btn-info;
      color: #fff;
    }
  }
  &__warning {
    border: 1px solid $--bg-btn-warning;
    outline: none;
    color: $--bg-btn-warning;
    &:hover {
      background: $--bg-btn-warning;
      color: #fff;
    }
  }
  &__danger {
    border: 1px solid $--bg-btn-danger;
    outline: none;
    color: $--bg-btn-danger;
    &:hover {
      background: $--bg-btn-danger;
      color: #fff;
    }
  }
  &__link {
    border: none;
    outline: none;
    color: $--blue;
  }
  &__extra {
    padding: 1rem 2rem;
    border: 1px solid $--bg-btn-primary-gray;
    color: $--bg-btn-primary-gray;
    background: #fff;
    &:hover {
      background: $--bg-btn-primary-gray;
      color: #fff;
    }
  }
  &__large {
    padding: 0.8rem 1.8rem;
    border: 1px solid $--bg-btn-success;
    color: $--bg-btn-success;
    background: #fff;
    &:hover {
      background: $--bg-btn-success;
      color: #fff;
    }
  }
  &__default__2 {
    padding: 0.6rem 1.6rem;
    border: 1px solid $--bg-btn-primary-gray;
    color: $--bg-btn-primary-gray;
    background: #fff;
    &:hover {
      background: $--bg-btn-primary-gray;
      color: #fff;
    }
  }
  &__medium {
    padding: 0.4rem 1.4rem;
    border: 1px solid $--bg-btn-success;
    color: $--bg-btn-success;
    background: #fff;
    &:hover {
      background: $--bg-btn-success;
      color: #fff;
    }
  }
  &__small {
    padding: 0.2rem 1.2rem;
    border: 1px solid $--bg-btn-primary-gray;
    color: $--bg-btn-success;
    background: #fff;
    &:hover {
      background: $--bg-btn-primary-gray;
      color: #fff;
    }
  }
}

// text

.text {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  &__small {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 1.2rem 0;
    text-align: justify;
  }
}

// title

.component-title {
  font-size: 2.5rem;
}

// button up

.up {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background: blue;
  z-index: 1000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
}

.btn-up-visible {
  opacity: 1;
  z-index: 9999;
}

// block quotes

.quote {
  &__wrap {
    background: #f2f3f7;
    padding: 2rem;
  }
  &__inner {
    padding: 2rem;
    background: #fff;
    border-left: 3px solid $--text-gray;
  }
  &__text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    text-align: justify;
  }
}

// color

.blue {
  background: $--bg-btn-info;
}

// icons 

.rotate_180 {
	transform: rotate(180deg);
}
